/*
Theme Name: Desenvolvimentos
Theme URI: http://www.desenvolvimentos.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: desenvolvimentos
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** ESTILOS GERAIS
**** BODY
**** TOPO
**** RODAPÉ
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Sen', sans-serif;
font-family: 'Roboto', sans-serif;

*/

/* VARIÁVEIS */
:root{
  --sen: 'Sen', sans-serif;
  --roboto: 'Roboto', sans-serif;
  --azul-principal: #009bdb;
}
/* VARIÁVEIS */


/* IMPORTAÇÃO DE FONTES*/
@font-face {
	font-family: clear-regular;
	src: url('../fonts/clear sans/regular.ttf');
	font-style: normal;
	font-weight: normal;
}
/* IMPORTAÇÃO DE FONTES*/


/* GERAL */
.full-container, .large-container, .mid-container, .small-container{
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.full-container{
	max-width: 1700px;
}
.large-container{
	max-width: 1240px;
}
.mid-container{
    
}
.small-container{

}

.titulo{
	margin: 0;
	font-weight: 600;
	font-family: var(--sen);
	font-size: 62px;
	line-height: 65px;
	color: #001c28;
}
.titulo-secao{
	font-size: 20px;
	line-height: 46px;
	color: rgba(109, 114, 120, 0.6);
	text-transform: uppercase;
	letter-spacing: -1.5px;
}

a:hover{
	text-decoration: none;
}
li{
	list-style: none;
}

.hidden{
	display: none;
}
.mobile-element{
	display: none !important;
}
.desktop-element{
	display: inline-block !important;
}

#formularioFaleConosco{
	padding: 40px 0 0;
	opacity: 0;
	-webkit-transition: ease-in-out .2s;
	-moz-transition: ease-in-out .2s;
	-ms-transition: ease-in-out .2s;
	-o-transition: ease-in-out .2s;
	transition: ease-in-out .2s;
}
#formularioFaleConosco.show-formulario{
	opacity: 1;
}
	#formularioFaleConosco .fechar-formulario, #formularioFaleConosco .titulo, #formularioFaleConosco form label{
		padding: 0 40px;
	}
	#formularioFaleConosco .fechar-formulario{
		display: block;
		text-align: right;
	}
		#formularioFaleConosco .fechar-formulario img{
			width: 100%;
			max-width: 22px;
			cursor: pointer;
		}
	#formularioFaleConosco .titulo{
		font-size: 26px;
		line-height: 21px;
		color: #fff;
		margin: 8px 0 25px;
	}
	#formularioFaleConosco form{}
		#formularioFaleConosco form label{
			margin: 0 0 25px;
			display: block;
			position: relative;
		}
		#formularioFaleConosco form label::before{
			content: '';
			position: absolute;
			top: 50%;
			right: 46px;
			width: 15px;
			height: 18px;
			display: inline-block;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
		}
		#formularioFaleConosco form label:nth-child(1)::before{
			background-image: url('../img/user.svg');
		}
		#formularioFaleConosco form label:nth-child(2)::before{
			background-image: url('../img/email.svg');
			width: 16px;
		}
		#formularioFaleConosco form label:nth-child(3)::before{
			background-image: url('../img/smartphone.svg');
			width: 15px;
		}
			#formularioFaleConosco form label input{
				font-size: 16px;
				line-height: 19px;
				background-color: transparent;
				border: none;
				border-bottom: 1px solid #d8d8d8;
				outline: none;
				display: block;
				width: 100%;
				padding: 0 28px 5px 5px;
				color: #d8d8d8;
			}
		#formularioFaleConosco form .div-button-enviar{
			margin: 68px 0 0;
		}
			#formularioFaleConosco form .div-button-enviar input{
				font-size: 16px;
				line-height: 19px;
				font-family: var(--sen);
				color: #fff;
				background-color: var(--azul-principal);
				border: none;
				font-weight: 600;
				display: block;
				width: 100%;
				padding: 16px 0;
				outline: none;
			}
/* GERAL */


/* BODY */
body{}
/* BODY */


/* HEADER */
header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	z-index: 1;
	padding: 37px 0 0;
}
	header a.logo{
		display: block;
	}
		header a.logo figure{
			margin: 0;
		}
			header a.logo figure img{
				width: 100%;
				max-width: 150px;
			}
	header .navbar{
		display: block;
		padding: 0;
		position: initial;
	}
		header .navbar ul{
			padding: 0;
			margin: 0;
			font-size: 0;
			text-align: right;
		}
			header .navbar ul li{
				display: inline-block;
				margin-left: 85px;
			}
				header .navbar ul li a{
					font-size: 16px;
					line-height: 19px;
					color: #fff;
					font-family: var(--sen);
				}
/* HEADER */


/* FOOTER */
footer{
	background-color: #131415;
	padding: 82px 0 0;
}
	footer .logo-footer{
		width: 100%;
		margin: 0;
	}
		footer .logo-footer img{
			width: 100%;
			max-width: 187px;
		}
	footer .selos-prohawk{
		padding: 0;
		margin: 30px 0 0;
		font-size: 0;
		width: 100%;
		max-width: 200px;
	}
		footer .selos-prohawk li{
			display: inline-block;
			width: 100%;
			max-width: 25%;
		}
			footer .selos-prohawk li img{
				width: auto;
				height: 38px;
			}
	footer .col-md-3 .menu-footer{
		width: 100%;
		max-width: 274px;
		margin: 0 0 0 auto;
	}
	footer .col-md-3 .menu-footer:nth-child(1){
		margin: 0 0 37px auto;
	}
	footer .menu-footer{}
		footer .menu-footer .titulo{
			font-size: 13px;
			line-height: 15px;
			font-family: var(--roboto);
			color: #fff;
			margin: 0 0 8px;
		}
		footer .menu-footer nav{}
			footer .menu-footer nav ul{
				padding: 0;
				margin: 0;
			}
			footer .menu-footer nav a{
				display: block;
				width: 100%;
				max-width: fit-content;
				font-size: 13px;
				line-height: 23px;
				color: rgba(255, 255, 255, 0.5);
				font-family: var(--roboto);
			}
	footer .copyright{
		background-color: #e8e8e8;
		margin: 95px 0 0;
		padding: 7px 0;
	}
		footer .copyright .col-md-6:nth-child(2) p{
			text-align: right;
		}
		footer .copyright p{
			margin: 0;
			font-size: 13px;
			line-height: 35px;
			font-family: var(--roboto);
			color: #131B23;
		}
			footer .copyright p a{
				color: #131B23;
				display: inline-block;
			}
/* FOOTER */


/* PÁGINA INICIAL */
.pg-inicial{}
	.pg-inicial .secao-destaque{
		position: relative;
		font-size: 0;
		height: 100vh;
		display: flex;
		align-items: flex-end;
		overflow: hidden;
	}
		.pg-inicial .secao-destaque video{
			width: 100%;
			max-width: 100%;
			/* height: 100%; */
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
		.pg-inicial .secao-destaque .lente-video-destaque{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.44);
		}
		.pg-inicial .secao-destaque .conteudo-destaque{
			position: relative;
			/* bottom: 120px; */
			margin: 0 0 120px;
			padding: 0;
			display: block;
			width: 100%;
		}
			.pg-inicial .secao-destaque .conteudo-destaque article{
				position: relative;
			}
				.pg-inicial .secao-destaque .conteudo-destaque article .div-titulo, .pg-inicial .secao-destaque .conteudo-destaque article .div-descricao{
					display: inline-block;
					width: 100%;
					vertical-align: top;
				}
				.pg-inicial .secao-destaque .conteudo-destaque article .div-titulo{
					max-width: 52%;
					margin-right: 6.46%;
				}
					.pg-inicial .secao-destaque .conteudo-destaque article .div-titulo .titulo{
						font-size: 50px;
						line-height: 60px;
						color: #fff;
						font-weight: 500;
					}
				.pg-inicial .secao-destaque .conteudo-destaque article .div-descricao{
					max-width: 41.5%;
				}
					.pg-inicial .secao-destaque .conteudo-destaque article .div-descricao p{
						margin: 0 0 52px;
						font-size: 18px;
						line-height: 26px;
						color: #fff;
						font-family: var(--roboto);
						font-weight: 300;
						max-width: 470px;
						padding-right: 22px;
					}
					.pg-inicial .secao-destaque .conteudo-destaque article .div-descricao a{
						font-size: 14px;
						line-height: 16px;
						text-transform: uppercase;
						color: #fff;
						font-weight: 500;
						padding: 12px 49px 12px 20px;
						display: inline-block;
						border-bottom: 4px solid var(--azul-principal);
						position: relative;
					}
					.pg-inicial .secao-destaque .conteudo-destaque article .div-descricao a::before{
						content: '';
						position: absolute;
						top: 50%;
						right: 11px;
						display: block;
						width: 26px;
						height: 20px;
						background-image: url('../img/arroww.svg');
						background-position: center;
						background-size: cover;
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						transform: translateY(-50%);
					}
				.pg-inicial .secao-destaque .conteudo-destaque article .div-icones-video{
					position: absolute;
					right: 0;
					top: 0;
				}
					.pg-inicial .secao-destaque .conteudo-destaque article .div-icones-video span{
						display: block;
						cursor: pointer;
						margin: 0 0 27px;
					}
						.pg-inicial .secao-destaque .conteudo-destaque article .div-icones-video span img{
							width: 100%;
							max-width: 24px;
							display: block;
						}
					.pg-inicial .secao-destaque .conteudo-destaque article .div-icones-video .icone-play-video{}
						.pg-inicial .secao-destaque .conteudo-destaque article .div-icones-video .icone-play-video img{}
					.pg-inicial .secao-destaque .conteudo-destaque article .div-icones-video .icone-pause-video{}
						.pg-inicial .secao-destaque .conteudo-destaque article .div-icones-video .icone-pause-video img{}
					.pg-inicial .secao-destaque .conteudo-destaque article .div-icones-video .icone-mute-video{}
						.pg-inicial .secao-destaque .conteudo-destaque article .div-icones-video .icone-mute-video img{}
	.pg-inicial .secao-sobre{
		position: relative;
		background: #f8f5f5;
	}
		.pg-inicial .secao-sobre article{
			position: relative;
			z-index: 1;
		}
		.pg-inicial .secao-sobre .titulo-sobre-prohawk{
			padding: 150px 0 155px;
			background: linear-gradient(-50deg, #d8d8d8, #e8e8e8);
		}
			.pg-inicial .secao-sobre .titulo-sobre-prohawk .titulos-sobre{
				font-size: 0;
			}
				.pg-inicial .secao-sobre .titulo-sobre-prohawk .titulos-sobre .titulo{
					display: inline-block;
					width: 100%;
					vertical-align: top;
				}
				.pg-inicial .secao-sobre .titulo-sobre-prohawk .titulos-sobre h4.titulo{
					max-width: 35.5%;
				}
				.pg-inicial .secao-sobre .titulo-sobre-prohawk .titulos-sobre h2.titulo{
					font-size: 52px;
					line-height: 55px;
					max-width: 64.5%;
				}
			.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre{
				margin: 80px 0 0;
				height: 288px;
				font-size: 0;
			}
				.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre figure, .pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre{
					display: inline-block;
					width: 100%;
					vertical-align: top;
				}
				.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre figure{
					margin: 0;
					max-width: 36.83%;
				}
					.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre figure img{
						width: 100%;
						max-width: 100%;
						-webkit-box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
						-moz-box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
						-ms-box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
						-o-box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
						box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
					}
				.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre{
					max-width: 63.1%;
				}
					.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre p{
						margin: 0 252.8px 0 auto;
						font-size: 16px;
						line-height: 26px;
						color: rgba(0, 28, 40, 0.6);
						font-family: var(--roboto);
						width: 100%;
						max-width: 716px;
						padding-left: 30px;
					}
					.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre .selos-prohawk{
						margin: 50px 252.8px 0 auto;
						padding: 0;
						width: 100%;
						max-width: 716px;
						padding-left: 30px;
					}
						.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre .selos-prohawk li{
							display: inline-block;
							width: 100%;
							max-width: 15%;
						}
							.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre .selos-prohawk li img{
								width: 100%;
								max-width: 59px;
							}
		.pg-inicial .secao-sobre .sobre-selo-prohawk{
			width: 100%;
			max-width: 528px;
			margin: 0 22.65% 0 auto;
			padding: 120px 0 74px;
		}
			.pg-inicial .secao-sobre .sobre-selo-prohawk figure{
				margin: 0;
			}
				.pg-inicial .secao-sobre .sobre-selo-prohawk figure img{
					width: 100%;
					max-width: 79px;
				}
			.pg-inicial .secao-sobre .sobre-selo-prohawk .titulo{
				font-size: 26px;
				line-height: 35px;
				margin: 37px 0 44px;
			}
			.pg-inicial .secao-sobre .sobre-selo-prohawk p{
				font-size: 16px;
				line-height: 26px;
				color: #131b23;
				font-family: var(--roboto);
				margin: 0;
			}
			.pg-inicial .secao-sobre .sobre-selo-prohawk .texto-importante{
				margin: 55px 0 0;
				border-left: 1px solid #f00;
				padding-left: 30px;
			}
				.pg-inicial .secao-sobre .sobre-selo-prohawk .texto-importante p{
					margin: 28px 0 34px;
				}
				.pg-inicial .secao-sobre .sobre-selo-prohawk .texto-importante .titulo{
					margin: 0;
					font-family: var(--sen);
					font-weight: 500;
					padding-left: 37px;
					position: relative;
				}
				.pg-inicial .secao-sobre .sobre-selo-prohawk .texto-importante .titulo::before, .pg-inicial .secao-sobre .sobre-selo-prohawk .texto-importante .titulo::after{
					content: '';
					position: absolute;
					top: 50%;
					display: block;
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					transform: translateY(-50%);
				}
				.pg-inicial .secao-sobre .sobre-selo-prohawk .texto-importante .titulo::before{
					left: 0;
					width: 24px;
					height: 22px;
					background-image: url(../img/importante.svg);
					background-position: center;
					background-size: cover;
				}
				.pg-inicial .secao-sobre .sobre-selo-prohawk .texto-importante .titulo::after{
					right: 0;
					width: 15px;
					height: 2px;
					background-color: #f00;
				}
				.pg-inicial .secao-sobre .sobre-selo-prohawk .texto-importante .red-text{
					color: #ff0000;
				}
	.pg-inicial .secao-areas-atuacao{
		padding: 100px 0 35px;
		background-color: #e8e8e8;
	}
		.pg-inicial .secao-areas-atuacao .areas-atuacao-background{}
			.pg-inicial .secao-areas-atuacao .areas-atuacao-background figure{
				margin: 0;
			}
				.pg-inicial .secao-areas-atuacao .areas-atuacao-background figure img{}
		.pg-inicial .secao-areas-atuacao article{}
			.pg-inicial .secao-areas-atuacao article .titulo{}
			.pg-inicial .secao-areas-atuacao article h4.titulo{}
			.pg-inicial .secao-areas-atuacao article h2.titulo{
				width: 100%;
				max-width: 850px;
			}
			.pg-inicial .secao-areas-atuacao article .areas-atuacao{
				margin: 107px 0 0;
				padding: 0;
				font-size: 0;
			}
				.pg-inicial .secao-areas-atuacao article .areas-atuacao li{
					display: inline-block;
					width: 100%;
					max-width: 25%;
					margin: 0 0 30px;
					padding: 45px 3.2% 32px;
					cursor: default;
					-webkit-transition: ease-in-out .1s;
					-moz-transition: ease-in-out .1s;
					-ms-transition: ease-in-out .1s;
					-o-transition: ease-in-out .1s;
					transition: ease-in-out .1s;
					position: relative;
				}
				.pg-inicial .secao-areas-atuacao article .areas-atuacao li:hover{
					background-color: #fff;
					box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
				}
				.pg-inicial .secao-areas-atuacao article .areas-atuacao li.active-li{
					background-color: #fff;
					box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
				}
				/*.pg-inicial .secao-areas-atuacao article .areas-atuacao li:nth-child(4n+2){
					margin: 0 3.63% 0 7.26%;
				}
				.pg-inicial .secao-areas-atuacao article .areas-atuacao li:nth-child(4n+3){
					margin: 0 7.26% 0 3.63%;
				}*/
					.pg-inicial .secao-areas-atuacao article .areas-atuacao li img{
						width: 100%;
						max-width: 65px;
					}
					.pg-inicial .secao-areas-atuacao article .areas-atuacao li .titulo{
						font-size: 20px;
						line-height: 24px;
						color: #131b23;
						margin: 35px 0 23px;
						display: block;
					}
					.pg-inicial .secao-areas-atuacao article .areas-atuacao li p{
						font-size: 16px;
						line-height: 26px;
						color: rgba(0, 28, 40, 0.6);
						margin: 0;
					}
					.pg-inicial .secao-areas-atuacao article .areas-atuacao li .span-arrow{
						opacity: 0;
						display: block;
						margin: 10px 0 0;
						-webkit-transition: ease-in-out .1s;
						-moz-transition: ease-in-out .1s;
						-ms-transition: ease-in-out .1s;
						-o-transition: ease-in-out .1s;
						transition: ease-in-out .1s;
						cursor: pointer;
					}
						.pg-inicial .secao-areas-atuacao article .areas-atuacao li .span-arrow img{
							width: 100%;
							max-width: 22px;
						}
					.pg-inicial .secao-areas-atuacao article .areas-atuacao li:hover .span-arrow{
						opacity: 1;
					}
					.pg-inicial .secao-areas-atuacao article .areas-atuacao li.active-li .span-arrow{
						opacity: 1;
					}
					.pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario{
						background-color: #131B23;
						position: absolute;
						top: 0;
						left: 100%;
						width: 0;
						height: 100%;
						z-index: 2;
						overflow: hidden;
						box-shadow: 20px 17px 45px 0 rgba(0,0,0,0.15);
						-webkit-transition: ease-in-out .2s;
						-moz-transition: ease-in-out .2s;
						-ms-transition: ease-in-out .2s;
						-o-transition: ease-in-out .2s;
						transition: ease-in-out .2s;
					}
					.pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario.open-formulario{
						width: 100%;
					}
					.pg-inicial .secao-areas-atuacao article .areas-atuacao li:nth-child(4n+4) .container-formulario{
						left: unset;
						right: 100%;
					}
						.pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario .formulario{
							/*padding: 40px 0 0;
							opacity: 0;
							-webkit-transition: ease-in-out .2s;
							-moz-transition: ease-in-out .2s;
							-ms-transition: ease-in-out .2s;
							-o-transition: ease-in-out .2s;
							transition: ease-in-out .2s;*/
						}
						.pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario .formulario.show-formulario{
							/*opacity: 1;*/
						}
							.pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario .formulario .fechar-formulario, .pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario .formulario .titulo, .pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario .formulario form label{
								/*padding: 0 40px;*/
							}
							.pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario .formulario .fechar-formulario{
								/*display: block;
								text-align: right;*/
							}
								.pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario .formulario .fechar-formulario img{
									/*width: 100%;
									max-width: 22px;
									cursor: pointer;*/
								}
							.pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario .formulario .titulo{
								/*font-size: 26px;
								line-height: 21px;
								color: #fff;
								margin: 8px 0 25px;*/
							}
							.pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario .formulario form{}
								.pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario .formulario form label{
									margin: 0 0 25px;
									display: block;
									position: relative;
								}
								.pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario .formulario form label::before{
									content: '';
									position: absolute;
									top: 50%;
									right: 46px;
									width: 15px;
									height: 18px;
									display: inline-block;
									background-position: center;
									background-size: cover;
									background-repeat: no-repeat;
									-webkit-transform: translateY(-50%);
									-moz-transform: translateY(-50%);
									-ms-transform: translateY(-50%);
									-o-transform: translateY(-50%);
									transform: translateY(-50%);
								}
								.pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario .formulario form label:nth-child(1)::before{
									background-image: url('../img/user.svg');
								}
								.pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario .formulario form label:nth-child(2)::before{
									background-image: url('../img/email.svg');
									width: 16px;
								}
								.pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario .formulario form label:nth-child(3)::before{
									background-image: url('../img/smartphone.svg');
									width: 15px;
								}
									.pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario .formulario form label input{
										font-size: 16px;
										line-height: 19px;
										background-color: transparent;
										border: none;
										border-bottom: 1px solid #d8d8d8;
										outline: none;
										display: block;
										width: 100%;
										padding: 0 28px 5px 5px;
										color: #d8d8d8;
									}
									.pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario .formulario form label input::placeholder{
										color: rgba(255, 255, 255, 0.3);
										font-family: var(--sen);
									}
								.pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario .formulario form .div-button-enviar{
									margin: 68px 0 0;
								}
									.pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario .formulario form .div-button-enviar input{
										font-size: 16px;
										line-height: 19px;
										font-family: var(--sen);
										color: #fff;
										background-color: var(--azul-principal);
										border: none;
										font-weight: 600;
										display: block;
										width: 100%;
										padding: 16px 0;
										outline: none;
									}
	.pg-inicial .secao-vantagens{
		padding: 117px 0 55px;
		background-color: #FDFDFD;
	}
		.pg-inicial .secao-vantagens article{
			font-size: 0;
		}
			.pg-inicial .secao-vantagens article .titulo-vantagens, .pg-inicial .secao-vantagens article .itens-vantagens{
				display: inline-block;
				width: 100%;
				vertical-align: top;
			}
			.pg-inicial .secao-vantagens article .titulo-vantagens{
				max-width: 40%;
			}
				.pg-inicial .secao-vantagens article .titulo-vantagens .titulo{
					color: #101D27;
					width: 100%;
					max-width: 400px;
				}
			.pg-inicial .secao-vantagens article .itens-vantagens{
				max-width: 60%;
			}
				.pg-inicial .secao-vantagens article .itens-vantagens ul{
					padding: 0;
					margin: 0;
					font-size: 0;
				}
					.pg-inicial .secao-vantagens article .itens-vantagens ul li{
						display: inline-block;
						width: 100%;
						max-width: 50%;
						margin: 0 0 47px;
					}
						.pg-inicial .secao-vantagens article .itens-vantagens ul li img, .pg-inicial .secao-vantagens article .itens-vantagens ul li p{
							display: inline-block;
							width: 100%;
							vertical-align: middle;
						}
						.pg-inicial .secao-vantagens article .itens-vantagens ul li img{
							/*max-width: 28px;*/
							/*margin-right: 20px;*/
							max-width: 7.53%;
							height: 31px;
							margin-right: 5.38%;
						}
						.pg-inicial .secao-vantagens article .itens-vantagens ul li p{
							font-size: 14px;
							line-height: 17px;
							color: #101d27;
							font-family: var(--sen);
							margin: 0;
							/*max-width: 265px;*/
							max-width: 74%;
						}
	.pg-inicial .secao-servicos{
		font-size: 0;
		height: 1000px;
	}
		.pg-inicial .secao-servicos .produtos-gerados, .pg-inicial .secao-servicos .conteudo-produtos-gerados{
			display: inline-block;
			width: 100%;
			max-width: 50%;
			vertical-align: top;
			padding: 100px 0 70px;
			height: 100%;
		}
		.pg-inicial .secao-servicos .produtos-gerados{
			background-color: #131B23;
			text-align: right;
		}
			.pg-inicial .secao-servicos .produtos-gerados .titulo, .pg-inicial .secao-servicos .produtos-gerados ul{
				text-align: left;
				width: 100%;
				max-width: 620px;
				display: block;
				margin: 0 0 0 auto;
			}
			.pg-inicial .secao-servicos .produtos-gerados .titulo{}
			.pg-inicial .secao-servicos .produtos-gerados h4.titulo{
				color: rgba(255, 255, 255, 0.3);
			}
			.pg-inicial .secao-servicos .produtos-gerados h2.titulo{
				color: #F8F5F5;
				line-height: 54px;
				margin: 50px 0 30px auto;
			}
			.pg-inicial .secao-servicos .produtos-gerados ul{
				padding: 0;
				margin: 0 0 0 auto;
				font-size: 0;
				max-width: 642px;
			}
				.pg-inicial .secao-servicos .produtos-gerados ul li{
					color: #838383;
					font-size: 14px;
					font-family: var(--roboto);
					width: 100%;
					display: block;
					max-width: fit-content;
					padding: 10px 22px;
					margin: 0 0 10px;
					cursor: pointer;
					-webkit-transition: ease-in-out .1s;
					-moz-transition: ease-in-out .1s;
					-ms-transition: ease-in-out .1s;
					-o-transition: ease-in-out .1s;
					transition: ease-in-out .1s;
				}
				.pg-inicial .secao-servicos .produtos-gerados ul li:hover{
					background-color: #fff;
					color: #131B23;
					font-weight: 500;
				}
				.pg-inicial .secao-servicos .produtos-gerados ul li.produto-ativo{
					background-color: #fff;
					color: #131B23;
					font-weight: 500;
				}
			.pg-inicial .secao-servicos .produtos-gerados .menu-produtos-gerados{
				width: 100%;
				position: relative;
			}
				.pg-inicial .secao-servicos .produtos-gerados .menu-produtos-gerados .span-produto-ativo{
					background-color: #fff;
					color: #131B23;
					font-weight: 500;
					padding: 10px 54px 10px 22px;
					font-size: 14px;
					font-family: var(--roboto);
					width: 100%;
					display: block;
					position: relative;
				}
				.pg-inicial .secao-servicos .produtos-gerados .menu-produtos-gerados .span-produto-ativo::before{
					content: '';
					position: absolute;
					top: 50%;
					right: 20px;
					width: 28px;
					height: 28px;
					background-image: url('../img/arrow.svg');
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					-webkit-transform: translateY(-50%) rotate(90deg);
					-moz-transform: translateY(-50%) rotate(90deg);
					-ms-transform: translateY(-50%) rotate(90deg);
					-o-transform: translateY(-50%) rotate(90deg);
					transform: translateY(-50%) rotate(90deg);
				}
				.pg-inicial .secao-servicos .produtos-gerados .menu-produtos-gerados ul{
					/* display: none; */
					max-width: 100%;
					position: absolute;
					background-color: #fff;
					z-index: 3;
					/* top: 41px; */
					height: 0;
					padding: 0;
					overflow: hidden;
					-webkit-transition: ease-in-out .3s;
					-moz-transition: ease-in-out .3s;
					-ms-transition: ease-in-out .3s;
					-o-transition: ease-in-out .3s;
					transition: ease-in-out .3s;
				}
				.pg-inicial .secao-servicos .produtos-gerados .menu-produtos-gerados ul.abrir-menu-produtos-gerados{
					height: 571px;
					padding: 10px 0 0;
				}
					.pg-inicial .secao-servicos .produtos-gerados .menu-produtos-gerados ul li{}
		.pg-inicial .secao-servicos .conteudo-produtos-gerados{
			background-color: #e8e8e8;
			display: none;
		}
		.pg-inicial .secao-servicos .conteudo-produtos-gerados.conteudo-produtos-ativo{
			display: inline-block;
		}
			.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos{
				width: 100%;
				max-width: 607px;
				-webkit-transform: translateX(-78px);
				-moz-transform: translateX(-78px);
				-ms-transform: translateX(-78px);
				-o-transform: translateX(-78px);
				transform: translateX(-78px);
				-webkit-box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
				-moz-box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
				-ms-box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
				-o-box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
				box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
			}
				.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos figure{
					width: 100%;
					margin: 0;
				}
					.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos figure img{
						width: 100%;
					}
				.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav{
					position: absolute;
					bottom: 0;
					right: -44px;
					display: flex;
					flex-direction: column-reverse;
				}
					.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav button{
						display: block;
						width: 44px;
						height: 44px;
						background-color: var(--azul-principal);
						background-image: url(../img/arroww.svg);
						background-position: center;
						background-size: 27px;
						background-repeat: no-repeat;
						outline: none;
						-webkit-transition: ease-in-out .2s;
						-moz-transition: ease-in-out .2s;
						-ms-transition: ease-in-out .2s;
						-o-transition: ease-in-out .2s;
						transition: ease-in-out .2s;
					}
						.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav button span{}
					.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav .owl-prev{
						-webkit-transform: rotate(180deg);
						-moz-transform: rotate(180deg);
						-ms-transform: rotate(180deg);
						-o-transform: rotate(180deg);
						transform: rotate(180deg);
					}
						.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav .owl-prev span{}
					.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav .owl-next{}
						.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav .owl-next span{}
					.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav button.disabled{
						background-color: #b9b9b9;
					}
						.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav button.disabled span{}
			.pg-inicial .secao-servicos .conteudo-produtos-gerados article{
				width: 100%;
				max-width: 953px;
				text-align: right;
				margin: 50px 0 0;
			}
				.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-titulo-produtos, .pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-texto-produtos, .pg-inicial .secao-servicos .conteudo-produtos-gerados article .button-saiba-mais{
					text-align: left;
					width: 100%;
					max-width: 852px;
					display: inline-block;
				}
				.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-texto-produtos, .pg-inicial .secao-servicos .conteudo-produtos-gerados article .button-saiba-mais{
					max-width: 793px;
				}
				.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-titulo-produtos{}
					.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-titulo-produtos .titulo{
						font-size: 36px;
						line-height: 43px;
						color: #131b23;
						width: 100%;
						max-width: 520px;
						padding-left: 30px;

					}
				.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-texto-produtos{}
					.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-texto-produtos p{
						font-size: 16px;
						line-height: 26px;
						color: rgba(0, 28, 40, 0.6);
						margin: 30px 0 40px;
						width: 100%;
						max-width: 470px;
						padding-left: 30px;
					}
				.pg-inicial .secao-servicos .conteudo-produtos-gerados article .button-saiba-mais{
					padding-left: 30px;
				}
					.pg-inicial .secao-servicos .conteudo-produtos-gerados article .button-saiba-mais a{
						font-size: 16px;
						line-height: 19px;
						font-family: var(--sen);
						font-weight: 600;
						color: #fff;
						background-color: var(--azul-principal);
						display: inline-block;
						padding: 20px 78px;
					}
/* PÁGINA INICIAL 


/* EXTRAS */
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9{
	padding: 0;
}
.row{
	margin: 0;
	padding: 0;
}
/* EXTRAS */


/* MEDIA QUERY */
@media(max-width: 1430px){
	.pg-inicial .secao-destaque video {
		width: unset;
		max-width: unset;
		height: 100%;
	}
}

@media(max-width: 1300px){
	.pg-inicial .secao-sobre .sobre-selo-prohawk {
		margin: 0 10% 0 auto;
	}
}

@media(max-width: 1200px){
	.large-container {
		padding: 0 30px;
	}
	header .navbar ul li {
		margin-left: 45px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .titulos-sobre h2.titulo {
		font-size: 46px;
		line-height: 50px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre p{
		padding: 0 30px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre .selos-prohawk{
		padding: 0 30px;	
	}
	.pg-inicial .secao-vantagens article .itens-vantagens ul li img {
		height: 28px;
	}
	.pg-inicial .secao-servicos .produtos-gerados {
		padding-left: 30px;
		padding-right: 30px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav {
		right: 0;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-titulo-produtos .titulo, .pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-texto-produtos p, .pg-inicial .secao-servicos .conteudo-produtos-gerados article .button-saiba-mais {
		padding-left: 0;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados {
		padding-right: 30px;
		padding-left: 30px;
	}
}

@media(max-width: 991px){
	header .navbar ul li {
		margin-left: 22px;
	}
	header .navbar ul li a {
		font-size: 15px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .titulos-sobre .titulo {
		max-width: 100% !important;
	}
	.pg-inicial .secao-destaque .conteudo-destaque {
		margin: 0 0 80px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .titulos-sobre h2.titulo {
		margin: 20px 0 0;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk {
		padding: 80px 0 155px;
	}
	.pg-inicial .secao-areas-atuacao article .areas-atuacao li {
		max-width: 33.3%;
		margin: 0 0 10px;
		padding: 30px 3.2% 24px;
	}
	.pg-inicial .secao-areas-atuacao article .areas-atuacao li:nth-child(4n+4) .container-formulario {
		left: 100%;
		right: unset;
	}
	.pg-inicial .secao-areas-atuacao article .areas-atuacao li:nth-child(3n+3) .container-formulario {
		right: 100%;
		left: unset;
	}
	.pg-inicial .secao-areas-atuacao article .areas-atuacao {
		margin: 60px 0 0;
	}
	.pg-inicial .secao-areas-atuacao {
		padding: 70px 0 10px;
	}
	.pg-inicial .secao-vantagens article .itens-vantagens ul li img {
		height: 23px;
	}
	.pg-inicial .secao-vantagens article .titulo-vantagens .titulo {
		font-size: 50px;
		line-height: 46px;
	}
	.pg-inicial .secao-vantagens article .itens-vantagens ul li {
		margin: 0 0 30px;
	}
	.pg-inicial .secao-vantagens {
		padding: 60px 0 50px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav button {
		width: 38px;
		height: 38px;
	}
	.pg-inicial .secao-servicos {
		height: 1050px;
	}
}

@media(max-width: 850px){
	.pg-inicial .secao-vantagens article .itens-vantagens ul li img {
		height: 20px;
	}
	.pg-inicial .secao-vantagens article .titulo-vantagens .titulo {
		font-size: 45px;
	}
}

@media(max-width: 768px){
	header .navbar ul li {
		margin-left: 10px;
	}
	.mobile-element{
		display: inline-block !important;
	}
	.desktop-element{
		display: none !important;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre figure, .pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre{
		max-width: 100% !important;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre {
		height: unset;
		margin: 30px 0 0;
	}
	.full-container {
		padding: 0 30px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre p {
		padding: 0;
		margin: 0 auto;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre .selos-prohawk {
		padding: 0;
		margin: 35px auto;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre figure img {
		max-width: 400px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre figure {
		text-align: center;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk {
		padding: 80px 0 64px;
	}
	.pg-inicial .secao-sobre .sobre-selo-prohawk {
		padding: 50px 0 6px;
		margin: 0 auto;
	}
	.pg-inicial .secao-areas-atuacao article .areas-atuacao li {
		max-width: 50%;
	}
	.pg-inicial .secao-areas-atuacao article .areas-atuacao li:nth-child(2n+2) .container-formulario {
		right: 100%;
		left: unset;
	}
	.pg-inicial .secao-areas-atuacao article .areas-atuacao li:nth-child(3n+3) .container-formulario {
		left: 100%;
		right: unset;
	}
	.pg-inicial .secao-vantagens article .titulo-vantagens, .pg-inicial .secao-vantagens article .itens-vantagens {
		max-width: 100% !important;
	}
	.pg-inicial .secao-vantagens {
		padding: 50px 0 20px;
	}
	.pg-inicial .secao-vantagens article .itens-vantagens ul li img {
		height: 30px;
	}
	.pg-inicial .secao-vantagens article .itens-vantagens {
		margin: 56px 0 0;
	}
	.pg-inicial .secao-servicos .produtos-gerados, .pg-inicial .secao-servicos .conteudo-produtos-gerados {
		max-width: 100%;
	}
	.pg-inicial .secao-servicos .produtos-gerados{
		padding: 70px 30px 60px;
	}
	.pg-inicial .secao-servicos {
		height: unset;
	}
	.pg-inicial .secao-servicos .produtos-gerados h4.titulo{
		margin: 0;
	}
	.pg-inicial .secao-servicos .produtos-gerados h2.titulo {
		margin: 50px 0 30px;
	}
	.pg-inicial .secao-servicos .produtos-gerados ul {
		margin: 0;
	}
	.pg-inicial .secao-servicos .produtos-gerados{
		text-align: left;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos {
		max-width: 100%;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados.conteudo-produtos-ativo {
		padding: 0 0 70px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados article{
		padding: 0 30px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav {
		bottom: -38px;
	}
	footer {
		padding: 50px 0 0;
	}
	footer .menu-footer {
		margin: 39px 0 0 !important;
	}
	footer .col-md-3 .menu-footer {
		max-width: 100%;
	}
	footer .copyright {
		margin: 40px 0 0;
		padding: 0;
	}
	footer .copyright p {
		text-align: left !important;
		line-height: 20px;
	}
	footer .copyright .large-container{
		padding: 0;
	}
	footer .copyright .col-md-6:nth-child(2){
		background-color: #d8d8d8;
		padding: 12px 30px;
	}
	footer .copyright .col-md-6:nth-child(3){
		padding: 15px 30px 32px;
	}
}

@media(max-width: 690px){
	header .navbar{
		display: none;
	}
}

@media(max-width: 670px){
	.pg-inicial .secao-destaque .conteudo-destaque article .div-titulo, .pg-inicial .secao-destaque .conteudo-destaque article .div-descricao{
		max-width: 100%;
	}
	.pg-inicial .secao-destaque .conteudo-destaque article .div-titulo {
		margin-right: 0;
	}
	.pg-inicial .secao-destaque .conteudo-destaque article .div-icones-video {
		top: unset;
		bottom: 0;
	}
	.pg-inicial .secao-destaque .conteudo-destaque article .div-icones-video span {
		margin: 27px 0 0;
	}
	.pg-inicial .secao-destaque .conteudo-destaque article .div-descricao p {
		margin: 0 0 58px;
	}
	.pg-inicial .secao-destaque .conteudo-destaque article .div-descricao {
		margin: 35px 0 0;
	}
	.pg-inicial .secao-destaque .conteudo-destaque {
		margin: 0 0 40px;
	}
	.titulo-secao {
		font-size: 15px;
		line-height: 46px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .titulos-sobre h2.titulo {
		margin: 29px 0 0;
		font-size: 23px;
		line-height: 33px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk {
		padding: 30px 0 64px;
	}
	.pg-inicial .secao-areas-atuacao article .titulo {
		display: none;
	}
	.pg-inicial .secao-vantagens article .itens-vantagens ul li img {
		height: 25px;
	}
	.pg-inicial .secao-servicos .produtos-gerados {
		padding: 40px 30px 50px;
	}
	.pg-inicial .secao-servicos .produtos-gerados h2.titulo {
		margin: 40px 0 45px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados.conteudo-produtos-ativo {
		padding: 0 0 50px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-titulo-produtos .titulo {
		font-size: 30px;
		line-height: 35px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-titulo-produtos .titulo, .pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-texto-produtos p, .pg-inicial .secao-servicos .conteudo-produtos-gerados article .button-saiba-mais {
		max-width: 100%;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-texto-produtos p {
		margin: 30px 0;
	}
}

@media(max-width: 550px){
	.pg-inicial .secao-vantagens article .itens-vantagens ul li img {
		height: 20px;
	}
}

@media(max-width: 500px){
	.pg-inicial .secao-destaque .conteudo-destaque article .div-titulo .titulo {
		font-size: 49px;
		line-height: 52px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre .selos-prohawk li {
		max-width: 25%;
		text-align: center;
	}
	.pg-inicial .secao-sobre .sobre-selo-prohawk figure, .pg-inicial .secao-sobre .sobre-selo-prohawk .titulo, .pg-inicial .secao-sobre .sobre-selo-prohawk p{
		padding-left: 30px;
	}
	.pg-inicial .secao-sobre .full-container{
		padding: 0;
		padding-right: 30px;
	}
	.pg-inicial .secao-sobre .sobre-selo-prohawk .texto-importante p{
		padding: 0;
	}
	.pg-inicial .secao-areas-atuacao article .areas-atuacao li {
		max-width: 100%;
		padding: 34px 7.2% 30px;
	}
	.pg-inicial .secao-vantagens article .itens-vantagens ul li img {
		height: 37px;
	}
	.pg-inicial .secao-vantagens article .itens-vantagens ul li{
		max-width: 100%;
	}
	.pg-inicial .secao-servicos .produtos-gerados h2.titulo {
		font-size: 55px;
		line-height: 48px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .full-container{
		padding: 0 30px;
	}
}

@media(max-width: 400px){
	.pg-inicial .secao-vantagens article .itens-vantagens ul li img {
		height: 28px;
	}
	footer .copyright p {
		font-size: 12px;
	}
	.pg-inicial .secao-destaque .conteudo-destaque article .div-titulo .titulo {
		font-size: 40px;
		line-height: 42px;
	}
	.pg-inicial .secao-vantagens article .titulo-vantagens .titulo {
		font-size: 42px;
	}
}

@media(max-width: 340px){
	.pg-inicial .secao-vantagens article .itens-vantagens ul li img {
		height: 22px;
	}
}
/* MEDIA QUERY */